

.list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    margin-top: 40px;
}

.event a {
    text-decoration: none;
    color: inherit;
}

.event a:hover {
    text-decoration: none;
}


.event__content {
    padding: 20px;
}

.event__title {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

.event__dates {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.event__date {
    color: #888;
    font-size: 14px;
    margin-bottom: 5px;
}

.event__description {
    color: #666;
    font-size: 16px;
    margin-bottom: 10px;
}

.event__fee {
    color: #888;
    font-size: 14px;
    margin-bottom: 5px;
}


.event {
    position: relative;
    /* Другие стили, которые у вас уже есть */
}

.responseButton {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px;
}

.responseButton__btn {
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 8px; /* Закругленные углы */
    cursor: pointer;
    transition: transform 0.3s ease, border-radius 0.3s ease; /* Добавлено свойство анимации */
}

.responseButton__btn:hover {
    transform: scale(1.1); /* Изменение размера при наведении */
    border-radius: 12px; /* Закругленные углы при наведении */
}
