@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');
@import url('https://cdn.jsdelivr.net/npm/bootstrap@4.1.1/dist/css/bootstrap.min.css');

.navbar_my{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1200;

}


