.card {
    width: 300px; /* Задайте желаемую ширину карты */
}

.user-review {
    display: flex;
    align-items: center;
}

.avatar-container {
    margin-right: 10px; /* Добавьте отступ между аватаром и ником пользователя */
}

.avatar {
    width: 50px; /* Задайте желаемую ширину аватара */
    height: 50px; /* Задайте желаемую высоту аватара */
    border-radius: 50%; /* Добавьте скругление для создания круглой формы */
}

.user-info {
    flex-grow: 1; /* Растягиваем userInfo на всю доступную ширину */
}

.username {
    margin: 0; /* Убираем внешние отступы у ника пользователя */
}

.rating {
    margin-top: 5px; /* Добавьте небольшой отступ сверху к рейтингу */
}
