.task-list-box:hover {
    cursor: pointer;
    transform: scale(1.005);
}

.task-list-box {
    transition: transform 0.3s ease-in-out;
}

.task-list-box .delete-item i,
.task-list-box .edit-item i {
    font-size: 24px;
}

.form-check{
    padding-left: 0;
}

.col-info{
    padding-left: 0;
}


.action-button{
    transition: transform 0.6s ease-in-out;
}

.action-button:hover{
    scale: 1.1;
    cursor: pointer;
}